{
    auto_https disable_redirects
}

{$SITE_DOMAIN} {
    encode zstd gzip {
        match {
            header Content-Type *
        }
    }
    reverse_proxy sync:3000 with-sqlite:3001 risuai:6001 {
        lb_policy first
        lb_try_duration 750ms
        lb_try_interval 250ms
        fail_duration 10s
        max_fails 1
    }
}

:80 {
    encode zstd gzip {
        match {
            header Content-Type *
        }
    }
    reverse_proxy sync:3000 with-sqlite:3001 risuai:6001 {
        lb_policy first
        lb_try_duration 750ms
        lb_try_interval 250ms
        fail_duration 10s
        max_fails 1
    }
}

:9090 {
    reverse_proxy sync:3000 with-sqlite:3001 risuai:6001 {
        lb_policy first
        lb_try_duration 750ms
        lb_try_interval 250ms
        fail_duration 10s
        max_fails 1
    }
}

:8080 {
    reverse_proxy with-sqlite:3001 risuai:6001 {
        lb_policy first
        lb_try_duration 750ms
        lb_try_interval 250ms
        fail_duration 10s
        max_fails 1
    }
}
